<app-headerlogin></app-headerlogin>
<body>

<div class="about-section">
  <h1>About Us Page</h1>
  <p>Here we help you to sale and purchase your houses without broker which saves your brokerage fees.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://img.freepik.com/free-psd/3d-illustration-person-with-sunglasses_23-2149436188.jpg?w=826&t=st=1680936438~exp=1680937038~hmac=177602848a84c13ad8a5ef54cb40bddc31e97d6e85c9550aea41c3a15487ac68" alt="Jane" class="pic">
      <div class="container">
        <h2>HIMANSHU SHARMA</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>Himanshu@Lentra.ai</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img class="pic" src="https://img.freepik.com/premium-vector/man-with-glasses-blue-shirt-with-red-circle-him_816425-2973.jpg?w=826" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img class="pic" src="https://img.freepik.com/free-psd/3d-illustration-person-with-sunglasses_23-2149436180.jpg?w=826&t=st=1680936550~exp=1680937150~hmac=880bc540ee071bd8633e46e15b4a45d5d392732e5c221df19f2fe5a9573b130f" alt="John" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

</body>

