<body>
    <div>
        <app-header></app-header>
    </div>
    <div class="parent">
        <div class="top"></div>
        <div class="center">
            <h1>Hello <b>{{people.name}}</b> welcome to housing.com. Here you can view Properties and also sell your Properties</h1>
        </div>
        <div class="bottom">
            <div class="options"><a href="#">Sell Your Property</a></div>
            <div class="options"><a href="#">View All Properties For Sale</a></div>
            <div class="options"><a href="#">Sell Your Property</a></div>
        </div>
    </div>
</body>
